img{
    height: 200px;
    width: 200px;
    border: 1cm solid black;
}
.mm_title {
    text-align: center;
    margin-bottom: 1cm;
}

.mm_cell, .mm_header_cell {
    border: 1px solid;
}

.mm_header_cell {
    background-color: black;
    color: white;
}
.pol{
    background-color: blue;
}
.button{
    background-color: orange;
    padding: 1cm;
}

.zad1 {
    h1 {
        text-align: center;
        color: green;
    }

    .zad1-p {
        text-align: justify;
        margin: 1cm 0;
        font-style: italic;
    }

    .columns {
        display: flex;
        flex-direction: column;
       

        .column-1, .column-2 {
            width: 100%;
        }
      
    }

    a:hover {
        color: green;
    }

    
    @media (min-width: 640px) {
                .columns {
                    flex-direction: row;

                    .column-1, .column-2 {
                        width: 50%;
                    }
                }
    }
}

.zad1-nav {
    display: flex;
    justify-content: center;
    gap: 1cm;
}
.zad5 {
    h1 {
        margin-bottom: 1cm;
    }

    .authors {
        border: 1px solid black;
        width: fit-content;
        padding: 1cm;
        list-style-type: upper-alpha;
        font-weight: bold;
    }
}
